.header {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 10px;
}

.logo {
    width: 34px;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.item {
    text-decoration: none;
}