.app-wrapper {
    max-width: 1128px;
    margin: auto;
    display: grid;
    drid-template-rows: 60px 1fr 50px;
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px;
    grid-template-areas:
        "h h"
        "n c"
        "f f";
}